.nav {
    background-color:#ea580c;
    padding: 15px 40px;
}
.nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.logout-btn {
    padding: 0;
    background-color: transparent; 
}