.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}