.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #e1e6eb;
    border-radius: 4px;
    padding: 10px 0px;
}

.recipe-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.recipe-info p {
    font-size: 13px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.top span {
    cursor: pointer;
}

.recipe-card img {
    margin: 15px 0px 10px 0px;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.recipe-card button {
    margin-bottom: 8px;
}
