.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 15px 40px;
}
.all-recipes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}