.ViewPost {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ViewPost img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.ViewPost .top {
    width: 30%;
}
